<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Link to CSS stylesheet -->
  </head>
  <body>
    <nav>
      <h1>Traccoon</h1>
      <p class="slogan-text">Welcome, <%=DB.FIRSTNAME%> <%=DB.LASTNAME%></p>

      <!-- Business Name -->
      <div class="slogan-container">
        <a href="/" class="slogan-link">
          <img
            src="/photos/tracconLogo.png"
            alt="Tracoon Slogan Image"
            class="slogan-image" />
        </a>
      </div>
    </nav>
    <div class="login-container">
      <h1>Your expenses</h1>
    </div>
    <div class="login-container">
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Total</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>
