<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Traccoon</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Link to CSS stylesheet -->
  </head>
  <body>
    <header>
      <nav>
        <h1>Traccoon</h1>
        <p class="slogan-text">Keep an eye on your finances</p>
        <!-- Business Name -->
        <div class="slogan-container">
          <img
            src="/photos/tracconLogo.png"
            alt="Tracoon Slogan Image"
            class="slogan-image" />

          <!-- Slogan Text -->
        </div>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h2>Track Your Business Expenses Simply & Save on Taxes</h2>
        <p>
          ExpenseTracker helps you monitor your business expenses all year long,
          making tax season stress-free. Organize receipts, categorize
          transactions, and gain insights to maximize deductions.
        </p>

        <!-- Two separate form tags for Sign In and Sign Up buttons -->
        <div class="button-group">
          <form action="/login" method="GET">
            <button type="submit" class="button">Sign In</button>
          </form>
          <form action="/signup" method="GET">
            <button type="submit" class="button">Sign Up</button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Traccoon. All rights reserved.</p>
    </footer>
  </body>
</html>
